*~
.DS_Store
**/target/**
**/**.iml
/.idea/
**/data/logs/**
**/.gradle/**
**/logs/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

logs/*
/generator/
/cache/*
**/rebel.xml
